<div class="alert alert-info">
    Update every 5 minutes. Last updated at: <span>{{lastArbUpdate}}</span>
</div>

<div class="container">

    <table class="table   table-bordered table-striped table-sm table-hover" style="font-size:12px;">

    <thead>
    <tr>

          <td>
            <a ng-click="sortBTXType = 'name'; sortBTXReverse=!sortBTXReverse">
                Name
                <span ng-show="sortBTXType == 'name' && !sortBTXReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortBTXType == 'name' && sortBTXReverse" class="fa fa-caret-up"></span>
            </a>
        </td>
        <td>
            <a  ng-click="sortBTXType = 'lastPoloPrice'; sortBTXReverse=!sortBTXReverse">
                Poloniex price
                <span ng-show="sortBTXType == 'lastPoloPrice' && sortBTXReverse" class="fa fa-caret-up"></span>
                <span ng-show="sortBTXType == 'lastPoloPrice' && !sortBTXReverse" class="fa fa-caret-down"></span>
            </a>
        </td>
        <td>
            <a  ng-click="sortBTXType = 'lastBtxPrice'; sortBTXReverse=!sortBTXReverse">
                Bittrex price
                <span ng-show="sortBTXType == 'lastBtxPrice' && !sortBTXReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortBTXType == 'lastBtxPrice' && sortBTXReverse" class="fa fa-caret-up"></span>
            </a>
        </td>

        <td>
            <a  ng-click="sortBTXType = 'lastCryptoPiaPrice'; sortBTXReverse=!sortBTXReverse">
                Cryptopia price
                <span ng-show="sortBTXType == 'lastCryptoPiaPrice' && !sortBTXReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortBTXType == 'lastCryptoPiaPrice' && sortBTXReverse" class="fa fa-caret-up"></span>
            </a>
        </td>

        <td>
            <a  ng-click="sortBTXType = 'buyIn'; sortBTXReverse=!sortBTXReverse">
                BuyIn
                <span ng-show="sortBTXType == 'buyIn' && !sortBTXReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortBTXType == 'buyIn' && sortBTXReverse" class="fa fa-caret-up"></span>
            </a>
        </td>


        <td>
            <a  ng-click="sortBTXType = 'sellIn'; sortBTXReverse=!sortBTXReverse">
                SellIn
                <span ng-show="sortBTXType == 'sellIn' && !sortBTXReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortBTXType == 'sellIn' && sortBTXReverse" class="fa fa-caret-up"></span>
            </a>
        </td>

        <td>
            <a  ng-click="sortBTXType = 'profit'; sortBTXReverse=!sortBTXReverse">
                Profit (%)
                <span ng-show="sortBTXType == 'profit' && !sortBTXReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortBTXType == 'profit' && sortBTXReverse" class="fa fa-caret-up"></span>
            </a>
        </td>

    </tr>
    </thead>

    <tbody>
    <!--  <tr ng-animate=" 'animate' " ng-repeat="pair in pairs | orderBy['-oneChanged','-fiveChanged','-tenChanged','-thirtyChanged','-hourChanged'] | filter:searchFish | limitTo:itemsPerPage:itemsPerPage*(page-1)">-->
    <tr ng-animate=" 'animate' "
        ng-repeat="pair in polobtxpairs | orderBy:sortBTXType:sortBTXReverse">
        <td> {{ pair.name }}
        </td>
        <td>{{ pair.lastPoloPrice }}
        </td>
        <td>{{ pair.lastBtxPrice }}
        </td>
        <td>{{ pair.lastCryptoPiaPrice }}
        </td>

        <td>{{ pair.buyIn }}
        </td>

        <td>{{ pair.sellIn }}
        </td>

        <td>{{ pair.profit }}%
        </td>



    </tr>
    </tbody>
</table>
</div>